.tutor-order-card {
  margin-bottom: 6px;

  .order-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;

    .code-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      
      .left-section {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .right-section {
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;

        &::before {
          content: '复制本单，联系';
          color: #999;
          font-size: 12px;
          font-weight: 400;
        }

        color: #f56c6c;
        font-size: 14px;
        font-weight: 600;

        &:hover {
          color: #409eff;
          
          &::before {
            color: #409eff;
          }
          
          .copy-btn {
            color: #409eff;
          }
        }
      }

      .order-code {
        font-weight: 500;
        font-size: 14px;
        color: #333;
      }

      .copy-btn {
        padding: 2px;
        height: auto;
        
        &:hover {
          background-color: #f5f7fa;
        }
      }
    }

    .tags-container {
      display: flex;
      gap: 6px;
      
      :deep(.el-tag) {
        padding: 0 8px;
        height: 22px;
        line-height: 22px;
        font-size: 12px;
      }
    }
  }

  .order-content {
    .info-item {
      margin-bottom: 6px;
      line-height: 1.4;
      font-size: 13px;
      display: flex;
      
      // 最后一个元素的样式前面添加虚线
      // &:last-child {
      //   margin-top: 8px;
      //   padding-top: 8px;
      //   border-top: 1px dashed #dcdfe6;
      // }
      
      .label {
        color: #666;
        margin-right: 0;
        width: 70px;
        flex-shrink: 0;
        text-align: justify;
        text-align-last: justify;
      }

      .colon {
        margin-right: 6px;
        margin-left: 3px;
        color: #666;
      }

      // 复制区域的样式
      &.right-section {
        cursor: pointer;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 0px;
        gap: 4px;

        &::before {
          content: '复制本单，联系';
          color: #999;
          font-size: 12px;
          font-weight: 400;
        }

        color: #f56c6c;
        font-size: 14px;
        font-weight: 600;

        &:hover {
          color: #409eff;
          
          &::before {
            color: #409eff;
          }
          
          .copy-btn {
            color: #409eff;
          }
        }
      }
    }

    .address {
      cursor: pointer;
      color: #409eff;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  :deep(.el-card__body) {
    padding: 15px;
  }
}